/* .contenedor{
    margin-top: 2rem;
     margin-left: 3rem;
     margin-right: 3rem;
     padding: 0;
     box-sizing: border-box;
 }
  .col{
     display: flex;
     width: 100%;
     margin: auto;
     justify-content: space-around;
     flex-wrap: wrap;
  }
 
  .cuadro{
     background-color: rgba(255, 255, 255, 0.8);
     width: 32%;
     position: relative;
     height: 25rem;
     margin-bottom: 1rem;
  }
 
  .cuadro img{
     width: 100%;
     height: 100%;
     object-fit: cover;
  }
 
  @media screen and (max-width:915px) {
    .cuadro{
       height: 12rem;
    }
  }
 
  @media screen and (max-width: 1080px) {
    .cuadro{
       height: 15rem;
    }
    .contenedor{
        margin-left: 1rem;
        margin-right: 1rem; 
    }
  }
  @media screen and (max-width:420px) {
    .cuadro{
       height: 6rem;
       margin-bottom: 2px;
    }
    .contenedor{
        margin-left: 1rem;
        margin-right: 1rem; 
    }
  } */
.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.cuadro {
  background-color: rgba(255, 255, 255, 0.8);
  width: 16rem;
  height: 16rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
.cuadro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 420px) {
  .cuadro {
   width: 6rem;
    height: 6rem;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .contenedor {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
